body{
 background-color: rgb(166, 207, 207) ;   
 margin: 20px;
}


h1
 {
    color: rgb(21, 189, 170);
    font-size: 36px;
 
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

h2
 {
    color: rgb(43, 29, 114);
    font-size: 25px;
    margin: 30px;
}
